<div style="text-align: center">
	<h1>All Posts</h1>

	<%= link_to "New Post", new_post_path %>

	<br/><br/>

	<table align="center"; border=1; padding=5 >
		<thead>
			<tr>
				<th>Title</th>
				<th>Text</th>
				<th colspan="2">Action</th>
			</tr>
		</thead>
	
		<% @posts.each do |post| %>
	
		<tbody>
			<tr>
				<td><%= post.title %></td>
				<td><%= post.text %></td>
				<td width=50px><%= link_to "Show", post %></td>
				<td width=50px><%= link_to "Edit", edit_post_path(post) %></td>
			</tr>
		</tbody>
	
		<% end %>
	</table>
</div>
